.downloads {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrapper {
    margin-right: 62px;
  }
  &__title {
    margin-bottom: 45px;
    color: $darkBlue-900;
    @extend %rubik-500;
    line-height: 1.3;
    font-size: 36px;
  }
  &__image {
    max-width: 570px;
    width: 100%;
    height: 380px;
    grid-row: span 2;
  }
  &__items {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__subtitle {
    max-width: 538px;
    margin-bottom: 30px;
  }
  &__span {
    display: block;
  }
}
